<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restablecimiento de Contraseña</title>
</head>
<body>
    <h2>&iexcl;Hola, <span th:text="${FILED_USERNAME}">Usuario</span>!</h2>
    <p>Hemos recibido una solicitud para restablecer tu contraseña en <strong th:text="${FIELD_NAME_CORPORATION}"></strong>.</p>
    <p>Puedes restablecer tu contraseña haciendo clic en el siguiente enlace:</p>
    <p><a th:href="${FIELD_RESET_URL}" th:text="${FIELD_RESET_URL}">Restablecer contraseña</a></p>
    <p>Si no solicitaste restablecer tu contraseña, puedes ignorar este mensaje.</p>
    <p>Atentamente,</p>
    <p><strong th:text="${FIELD_NAME_CORPORATION}"></strong></p>
</body>
</html>