<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>C&oacute;digo de Verificaci&oacute;n</title>
</head>
<body>
    <h2>&iexcl;Hola, <span th:text="${FILED_USERNAME}">Usuario</span>!</h2>
    <p>Gracias por registrarte en <strong th:text="${FIELD_NAME_CORPORATION}"></strong>.</p>
    <p>Tu c&oacute;digo de verificaci&oacute;n es:</p>
    <h1 style="color: #007bff;" th:text="${FIELD_CODE_TOKEN}"></h1>
    <p>Por favor, ingresa este c&oacute;digo en la p&aacute;gina de registro para continuar con el proceso.</p>
    <p>Si no solicitaste este c&oacute;digo, ignora este mensaje.</p>
    <p>Atentamente,</p>
    <p><strong th:text="${FIELD_NAME_CORPORATION}"></strong></p>
</body>
</html>